<% provide(:title, 'All Users') %>
<!--< % if params[:search] %>-->
<!--  <h1>検索結果</h1>-->
<!--< % elsif params[:search].blank? %>-->
  <h1>ユーザー一覧</h1>
  
  <div class="csv_import">
    <%= form_tag import_users_path, method: :post, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "CSVインポート", class: "btn btn-primary" %>
    <% end %>
  </div>
  <!--<p>検索</p>-->
  <!--<form enctype="multipart/form-data" action="/import" accept-charset="UTF-8" method="post">-->
  <!--  <input name="utf8" type="hidden" value="✔︎">-->
  <!--  <input type="hidden" name="authenticity_token" value=>-->
  <!--  <input type="file" name="file" id="file">-->
  <!--  <input type="submit" name="commit" value="インポート" data-disable-with="インポート">-->
  <!--</form>-->
    <table class="table">
      <% @users.each do |user| %>
        <tr>
          <td>
            <div class="col-md-22 col-md-offset-1">
            <% if current_user.admin? && !current_user?(user) %>
            <%= user.name %><br>
              <%= link_to "削除", user, method: :delete,
                             data: { confirm: "削除してもよろしいですか?" },
                             class: "btn btn-primary btn-default" %><br>
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <button type="button" data-toggle="collapse" data-target="#collapse<%= user.id %>" class="btn btn-primary btn-lg">編集</button>
                    </h4>
                  </div>
                  <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                    <div class="panel-body"><%= render 'users/form1', user: user %></div>
                  </div>
                </div>
              <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>    
    </table>
<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>